{% extends 'base.html' %}

{% block site_content %}
    {% load bootstrap4 %}

    <h1 class="text-center">Register</h1>
    <div class="row d-flex justify-content-center">
        <form method="post" class="form" enctype="multipart/form-data" action="{% url 'register user'%}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% bootstrap_form profile_form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary"> Submit</button>
            {% endbuttons %}
        </form>

    </div>

{% endblock site_content %}