{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style_task_todo.css' %}">
    <title>Profiles</title>
</head>
<body>
<div class="container">
    <main class="sit-main">
        <h1 class="site-main-title">Profiles</h1>
        {% if profiles %}
            <ul class="list-profiles">
                {% for p in profiles %}
                    <li class="list-item">
                        <span>{{ p.name }}</span>
                        <a href="{% url 'profile_details' p.id %}" class="btn-btn">See details</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h3>No profiles</h3>
        {% endif %}
    </main>
</div>
</body>
</html>
