{% extends 'site.html' %}
{% block site-main %}
<h1 class='text-center'>All pet photos</h1>
<div class="sub-container">
    {% if pet %}
        {% for p in pet %}
            <div class="row">
                <div class="col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ p.image_url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ p.type }} {{ p.name }}, Age: {{ p.age }}</h5>
                            <p class="card-text">{{ p.description }}</p>
                            <a href="{% url 'pet detail' p.id %}" class="btn btn-primary">See details</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h2>NO Pets</h2>
    {% endif %}
</div>
{% endblock site-main %}